.card{
  width: 300px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 2px;
  border-radius: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
.card-contenedor-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.imagen-card{
  width: 100%;
  height: 100%;
}
.imagen-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.card-contenedor-titulo>button{
  padding: 4px 3px ;
  width: 100px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}
.card-contenedor-titulo>button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.card-btn{
  background-color: lightblue;
}
.card-h4{
  font-size: 20px;
  
}
@media (max-width:480px){
  .card{
    width: 200px;
    margin: 10px 0;
    
  }
  .card-contenedor-img{
    height: 200px;
  }

}

