.home{
  min-height: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.home-contenedor-card{
  width: 98%;
  padding: 10px 5px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width:480px) {
  .home-contenedor-card{
    width: 100%;
  }
}
